# terraform files
**/.terraform*
*.tfstate
*.tfstate*
*.tfvars

# node wallets
wallets/*

# editors
.idea/
.vscode/

# ansible
skale-nodes/ansible/my-inventory
skale-nodes/ansible/inventory/
skale-nodes/ansible/files/base-key*.txt
skale-nodes/ansible/files/dev*
skale-nodes/ansible/files/authorized_keys
skale-nodes/ansible/files/validator-id*.txt
skale-nodes/ansible/terraform/do/hosts
skale-nodes/ansible/terraform/aws/hosts*
skale-nodes/ansible/ansible.cfg
skale-nodes/ansible/sgx/ansible.cfg

skale-nodes/ansible/files/base-key.txt
skale-nodes/ansible/files/validator-id.txt

skale-nodes/ansible/files/cert.pem
skale-nodes/ansible/files/privkey.pem

skale-nodes/ansible/files/node-info/
skale-nodes/ansible/files/ssh-keys/
skale-nodes/ansible/files/node-backup/
skale-nodes/ansible/files/*.json

# other
.ropeproject/
venv/
.env
manager*.json

*.log

.DS_Store

# bare metal setup

bare-metal/ansible/inventory/*
bare-metal/ansible/hosts*
bare-metal/ansible/ansible.cfg
bare-metal/ansible/files/restart_vm*
bare-metal/ansible/conf*

skale-nodes/ansible/group_vars/all
