# terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# node wallets
wallets/*

# editors
.idea/
.vscode/

# ansible
ansible/my-inventory
ansible/inventory/
ansible/files/base-keys.txt
ansible/files/validator-ids.txt
ansible/terraform/do/hosts
ansible/terraform/aws/hosts
ansible/ansible.cfg
ansible/sgx/ansible.cfg

# other
.ropeproject/
venv/
.env
manager.json

*.log

.DS_Store

local/ansible/inventory/*

