do_token = ""
instance_size = ""
ssh_fingerprints = [
  ""
]
cli_version = ""
cli_space = ""
stream = ""

github_token = ""
docker_username = ""
docker_password = ""
db_password = ""

disk_mountpoint = ""

username = ""
password = ""

node_port = ""
prefix = ""
region = ""
volume_region = ""
volume_size = 

manager_url = ""
ima_url = ""

endpoint = ""
ima_endpoint = ""

filebeat_url = ""
sgx_url = ""